<article class="card" [class.left]="side === 'left'" [class.right]="side === 'right'">
  <div class="header">
    <div class="header-icon">
      <img 
        [src]="experience.logoUrl"
        class="company-logo"
        [alt]="experience.company + ' logo'" 
        title="{{ experience.company }} logo"
      />
    </div>
    <div class="header-body">
      <h3 class="role">{{ experience.role }}</h3>
      <div class="meta">
        <span>{{ experience.company }}</span> • <span>{{ experience.location }}</span>
      </div>
      <p class="desc">{{ experience.description }}</p>
    
      <ul class="tech">
        <li *ngFor="let t of experience.technologies">{{ t }}</li>
      </ul>
    </div>
  </div>

</article>
