:host {
  display: block;
}

:host(.left) {
  grid-column: 1;
  justify-self: end;
}

:host(.right) {
  grid-column: 3;
  justify-self: start;
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  max-width: 420px;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

:host(.left) .header {
  flex-direction: row-reverse;
}


:host(.left) .header {
  grid-template-columns: 1fr auto;
}

:host(.left) .header-icon {
  grid-column: 2;
  justify-self: start;
}

:host(.left) .header-body {
  grid-column: 1;
}


.header-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  background-color: #f0f0f0;
  border: 1px solid #ccc;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.company-logo {
  width: 70%;
  height: 70%;
  object-fit: contain;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .card {
    max-width: none;
  }
}
