.nextsec-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 42px;
  height: 42px;

  display: grid;
  place-items: center;

  background: transparent;
  border: none;

  cursor: pointer;
  transition: 
    background 0.3s ease, 
    opacity 0.3s ease;
}

.nextsec-btn img {
  width: 100%;
  height: 100%;
  opacity: 0.85;
  filter: drop-shadow(0 0 12px rgba(90, 200, 255, 0.35));
}

/* Subtil hover */
.nextsec-btn:hover {
  transform: translateX(-50%) translateY(6px);
  opacity: 1;
}

.nextsec-btn {
  animation: float 2.2s ease-in-out infinite;
  opacity: 0.85;
}

@keyframes float {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
}