<article class="card-wrap">
  <div
    class="card rgb"
    #cardEl
    (mousemove)="tilt($event, cardEl)"
    (mouseleave)="resetTilt(cardEl)"
    [class.reverse]="reverse"
  > 
    <div class="card-media">
      <a
        *ngIf="project.liveUrl; else staticImage"
        class="card-media-link" 
        [href]="project.liveUrl"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Open live preview"
      >
        <img
          title="Click to view live preview"
          class="card-image"
          [src]="project.imageUrl"
          [alt]="project.imageAlt"
          loading="lazy"
        />
      </a>
        <ng-template #staticImage>
          <img
            title="Static project image"
            class="card-image"
            [src]="project.imageUrl"
            [alt]="project.imageAlt"
            loading="lazy"
          />
        </ng-template>
    </div>

    <div class="card-body">
      <h3 class="card-title">{{ project.title }}</h3>

      <div class="card-tech" aria-label="Technologies used">
        <ul class="card-tags">
          <li *ngFor="let tag of project.tags">
            <span>{{ tag }}</span>
          </li>
        </ul>
      </div>

      <p class="card-desc">{{ project.description }}</p>

      <div class="card-actions">
        <a
          class="btn btn--lg btn--secondary"
          [href]="project.repoUrl"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Open GitHub repository"
        >
          <i class="bi bi-github"></i>
          <span>GitHub</span>
        </a>

        <a
          *ngIf="project.liveUrl"
          class="btn btn--lg btn--primary"
          [href]="project.liveUrl"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Open live preview"
        >
          <span>Live preview</span>
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</article>

