.hero-container {
  min-height: calc(70svh - var(--nav-height));
  display: grid;
  place-items: center;
  padding-block: max(var(--space-6), 10vh);
  width: min(1100px, 92%);
  margin-inline: auto;
}

.hero-inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1.15fr 0.85fr;
  align-items: center;
  gap: var(--space-6);
}

.hero-left h3 {
  font-size: 3rem;
  color: var(--text);
}

.hero-left h1 {
  font-size: clamp(1.5rem, 4vw, 3.4rem);
  color: var(--text);
  line-height: 1.1;
}

.hero-role span { 
  font-size: 1.5rem;
  margin-right: 7px;
  font-weight: 700;
}

.text-switch {
  display: inline-block;
  transition: opacity 0.25s ease, transform 0.25s ease;
  font-size: clamp(2.4rem, 2.6vw, 2rem);
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;   
}

.hero-left p {
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--text-soft);
  max-width: 60ch;
  font-weight: 700;
}

.socials {
  margin-top: var(--space-4);
  gap: var(--space-4);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.btns {
  margin-top: var(--space-6);
  display: flex;
  gap: var(--space-4);
}

.btn {
  display: inline-flex;
  align-items: center;
}

.btn i {
  font-size: 20px;
  color: black;
  transition: color 0.2s ease;
}

.btn:hover i {
  color: white;
  transform: translateX(5px);
}

.btn img {
  margin-left: 8px;
  width: 23px;
  height: 23px;
  transition: transform 0.3s ease;

}

.btn2:hover img {
  transform: translateX(5px);
}

.hero-right {
  display: grid;
  justify-items: end;
  align-items: center;
}

.hero-tilt{
  width: clamp(240px, 28vw, 420px);
  aspect-ratio: 1 / 1;
}

/* Ringen följer med eftersom den är inuti hero-tilt */
.hero-ring{
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 50%;
  background: var(--gradient);
  display: grid;
  place-items: center;
}

/* Bilden */
.hero-image{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}

.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1.02);
}


/* Responsive */
@media (max-width: 900px) {
  .hero-inner {
    grid-template-columns: 1fr;
    text-align: center;
    gap: var(--space-4);
  }

  .hero-left {
    margin: 0 auto;
  }

  .hero-left p {
    margin-inline: auto;
  }

  .hero-right {
    order: -1;
    justify-items: center;
    align-items: center;
  }

  .hero-image-container {
    width: 200px;
  }

  .hero-container{
    padding-block: clamp(24px, 6vh, 80px);
  }

  .socials {
    display: flex;
    justify-content: center;
  }
}
