.nav {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: #0D0D0D;
  color: #E5E5E5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
}

.nav-inner ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-inner li a {
  text-decoration: none;
  color: #E5E5E5;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-inner li a:hover {
  color: #3B82F6;
  transition: all 300ms ease; 
}

.nav button {
  padding: 12px 18px;
  background-color: #0D0D0D;
  border: 1px solid #3B82F6;
  border-radius: 24px;
  font-size: 16px;
  color: #3B82F6;
  cursor: pointer;
}

.nav button:hover {
  background-color: #3B82F6;
  color: #0D0D0D;
  border-color: #3B82F6;
  transition: all 1000ms ease; 
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.7);
}


@media (max-width: 768px) {
  nav ul li a{
    display: none; 
  }

  .mobile-menu-btn {
    display: block;
  }

  .nav button{
    display: none;
  }
}

.mobile-menu-btn {
  display: none;
}
