.brandIcon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 10px;
  background-color: var(--accent-glow);
  border-radius: var(--radius);
  cursor: pointer;
}

.brandIcon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}